<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>
	<!-- an appender is an output destination, such as the console or a file; 
		names of appenders are arbitrarily chosen -->

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%c{1}] %d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<!--
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="/home/alex/demo-web.log" />
		<!- - For Tomcat use: ${catalina.home}/logs/my-spring-mvc.log, for GlassFish: ${com.sun.aas.instanceRoot}/logs/my-spring-mvc.log - ->
		<param name="MaxFileSize" value="1MB" />
		<param name="MaxBackupIndex" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%c{1}] %d{ABSOLUTE} %5p %c{1}:%L - %m%n\n" />
		</layout>
	</appender>
	-->

	<!-- loggers of category 'org.springframework' will only log messages of 
		level "warn" or higher; if you retrieve Loggers by using the class name (e.g. 
		Logger.getLogger(AClass.class)) and if AClass is part of the org.springframework 
		package, it will belong to this category -->
	<!--
	<logger name="org.springframework">
		<level value="warn" />
	</logger>
	-->

	<!-- all log messages -->
	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
		<!-- <appender-ref ref="file" /> -->
	</root>
</log4j:configuration>
